/* Nav */
.topnav {
    overflow: hidden;
    background-color: #333333;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

.topnav img {
    width: 50px;
    position: absolute;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: lightblue;
    color: black;
}

#logo {
    all: initial;
    cursor: pointer;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 25px;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.74rem;
    box-sizing: inherit;
}

#opis {
    text-align: center;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

main {
    height: 100%;
    width: 50%;
    margin: 0 auto;
    flex-wrap: wrap;
}

main h1 {
    font-size: 50px;
    text-align: center;
}

main #awatardiv {
    display: flex;
    align-items: center;
}

main #awatar {
    margin-right: 30px;
    width: 20%;
}

main #awatardiv p {
    margin: 0;
}

/* Stopka */
footer {
    clear: both;
    width: 100%;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    overflow: hidden;
}

footer #facebook {
    height: 45px;
    width: 45px;
    position: absolute;
    float: left;
    padding: 3px 0px 0px 5px;
}

footer span {
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

footer a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    float: right;
}

/* Telefon */
@media (max-width: 800px) {
    .topnav a {
        font-size: 20px;
        padding: 24px 25px;
    }

    .topnav img {
        height: 71px;
        width: 71px;
    }

    header h1 {
        font-size: 60px;
    }

    main {
        height: 100%;
        width: 100%;
        font-size: 35px;
        text-align: center;
    }

    main h1 {
        font-size: 60px;
    }

    main #awatar {
        margin-right: 30px;
        width: 25%;
    }

    main #awatardiv {
        flex-direction: column;
    }

    main #awatardiv p {
        margin: 10px;
    }
}